@charset "UTF-8";

$mainColor: #f8e9d2;
$white: #fff;
$orange: #ea5413;
$lightOrange: #ed7133;
$gray: #808080;

%headerTtl-style {
  position: relative;
  height: 55px;
  display: inline-block;
  vertical-align: middle;
}

%headerSubTtl-style {
  position: absolute;
  height: 15px;
  top: 50%;
  transform: translateY(-50%);
}

%diagonalLine-style {
  height: 45px;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;

  &::before {
    content: "";
    height: 100%;
    display: block;
    background-image: url(../../common/img/diagonalLine.png);
    transform: translateX(-100px);
  }
}

body {
  min-width: 1280px;
  overflow-x: hidden;
  background: $mainColor;
  font-family: 'Yu Gothic','YuGothic','Noto Sans Japanese','Helvetica Neue','ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN',Arial,'Meiryo',sans-serif;
  font-weight: 700;
  line-height: 1.5;

  &::before {
    content: "";
    display: block;
    width: 100vw;
    height: 10px;
    background-color: $orange;
  }
}

.hamburger {
  width: 30px;
  height: 30px;
  position: fixed;
  z-index: 6;
  top: 50%;
  transform: translateY(-50%);
  left: 30px;
  cursor: pointer;
}

.hamburger__line {
  background-color: $orange;
  height: 5px;
  width: 100%;
  position: absolute;
  transition: 1s;
}

.line2 {
  top: 50%;
  transform: translateY(-50%);
}

.line3 {
  bottom: 0;
}

.line_1,
.line_2,
.line_3 {
  background-color: $white;
}

.line_1 {
  width: 60%;
  transform: translateY(5px) rotate(-45deg);
}

.line_3 {
  width: 60%;
  transform: translateY(-5px) rotate(45deg);
}

.nav {
  width: 420px;
  height: 100vh;
  position: fixed;
  top: 0;
  background: $gray;
  text-align: center;
  font-size: 14px;
  color: $white;
  z-index: 5;
  transform: translateX(-100%);
  transition: 1s;
  
  .logo {
    width: 207px;
    margin: 45px 0 55px;
  }

  .list__item {
    height: 22px;

    &:not(:last-of-type) {
      margin-bottom: 35px;
    }
  }

  .list__text--1,
  .list__text--2,
  .list__text--3,
  .list__text--4,
  .list__text--5,
  .list__text--6 {
    width: 100px;
    height: 22px;
    display: block;
    margin: 0 auto;
  }

  .list__text--1 {
    background: url(../../common/img/nav_home.png) no-repeat left center/contain;
  }

  .list__text--2 {
    background: url(../../common/img/nav_news.png) no-repeat left center/contain;
  }

  .list__text--3 {
    background: url(../../common/img/nav_greeting.png) no-repeat left center/contain;
  }

  .list__text--4 {
    background: url(../../common/img/nav_outline.png) no-repeat left center/contain;
  }

  .list__text--5 {
    background: url(../../common/img/nav_branding.png) no-repeat left center/contain;
  }

  .list__text--6 {
    background: url(../../common/img/nav_recruit.png) no-repeat left center/contain;
  }
  .social {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 77px;
    margin-bottom: 25px;

    &__twitter,
    &__facebook {
      display: block;
      width: 30px;
      height: 30px;
    }
  
    &__twitter {
      background: url(../../common/img/social_twitter.png) no-repeat center center/contain;
    }
  
    &__facebook {
      background: url(../../common/img/social_facebook.png) no-repeat center center/contain;
    }
  }

  .copyright {
    font-size: 11px;
    text-indent: 1;
  }

  &.in {
    transform: translateX(0);
  }
}

button {
  width: 100%;
  position: relative;
  height: 45px;
  margin: 0 auto;
  overflow: hidden;

  &::before {
    content: "";
    width: 120%;
    height: 100%;
    display: block;
    background-image: url(../../common/img/diagonalLine.png);
    transform: translateX(-100px);
  }

  a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90px;
    height: 15px;
    background: url(../../common/img/backButton.png) no-repeat;
  }
}


footer {
  padding-top: 65px;
  padding-bottom: 60px;
  text-align: center;
  background: $gray;
  color: $white;

  .logo {
    margin-bottom: 40px;
  }

  .nav__list {
    display: flex;
    justify-content: space-between;
    margin: 0 90px 40px;
    color: $white;
    text-align: start;

    .nav__item {
      position: relative;

      span {
        display: block;
        font-family: 'Bookman Old Style';
        font-size: 14.25px;
      }
  
      &::before {
        content: "";
        width: 1px;
        height: 35px;
        position: absolute;
        background: #fff;
        left: -15px;
      }
  
      &::after {
        content: "";
        width: 0%;
        height: 3px;
        display: block;
        position: absolute;
        top: 20%;
        background: $orange;
        transition: .5s;

      }
      &:hover:after {
        width: 100%;
      }
    }
  }

  .social {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 28px;

    &__twitter,
    &__facebook {
      display: block;
      width: 30px;
      height: 30px;
    }
  
    &__twitter {
      background: url(../../common/img/social_twitter.png) no-repeat center center/contain;
    }
  
    &__facebook {
      background: url(../../common/img/social_facebook.png) no-repeat center center/contain;
    }
  }


  .copyright {
    font-size: 11px;
    text-indent: 1em;
  }

  .toTop {
    position: relative;
    border-right: 67px solid transparent;
    border-bottom: 61px solid $white;
    border-left: 67px solid transparent;

    &::before {
      content: "";
      width: 10px;
      height: 10px;
      position: absolute;
      border-top: 2px solid gray;
      border-right: 2px solid gray;
      transform: rotate(-45deg);
      top: 50px;
      left: -5px;
    }
  }
}