@charset "UTF-8";
body {
  min-width: 1280px;
  overflow-x: hidden;
  background: #f8e9d2;
  font-family: 'Yu Gothic','YuGothic','Noto Sans Japanese','Helvetica Neue','ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN',Arial,'Meiryo',sans-serif;
  font-weight: 700;
  line-height: 1.5;
}

.hamburger {
  width: 30px;
  height: 30px;
  position: fixed;
  z-index: 6;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 30px;
  cursor: pointer;
}

.hamburger__line {
  background-color: #ea5413;
  height: 5px;
  width: 100%;
  position: absolute;
  -webkit-transition: 1s;
  transition: 1s;
}

.line2 {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.line3 {
  bottom: 0;
}

.line_1,
.line_2,
.line_3 {
  background-color: #fff;
}

.line_1 {
  width: 60%;
  -webkit-transform: translateY(5px) rotate(-45deg);
          transform: translateY(5px) rotate(-45deg);
}

.line_3 {
  width: 60%;
  -webkit-transform: translateY(-5px) rotate(45deg);
          transform: translateY(-5px) rotate(45deg);
}

.nav {
  width: 420px;
  height: 100vh;
  background: #808080;
  position: fixed;
  text-align: center;
  font-size: 14px;
  color: #fff;
  z-index: 5;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 1s;
  transition: 1s;
}

.nav .logo {
  width: 207px;
  margin: 45px 0 55px;
}

.nav .list__item {
  height: 22px;
}

.nav .list__item:not(:last-of-type) {
  margin-bottom: 35px;
}

.nav .list__text--1,
.nav .list__text--2,
.nav .list__text--3,
.nav .list__text--4,
.nav .list__text--5,
.nav .list__text--6 {
  width: 100px;
  height: 22px;
  display: block;
  margin: 0 auto;
}

.nav .list__text--1 {
  background: url(../../common/img/nav_home.png) no-repeat left center/contain;
}

.nav .list__text--2 {
  background: url(../../common/img/nav_news.png) no-repeat left center/contain;
}

.nav .list__text--3 {
  background: url(../../common/img/nav_greeting.png) no-repeat left center/contain;
}

.nav .list__text--4 {
  background: url(../../common/img/nav_outline.png) no-repeat left center/contain;
}

.nav .list__text--5 {
  background: url(../../common/img/nav_branding.png) no-repeat left center/contain;
}

.nav .list__text--6 {
  background: url(../../common/img/nav_recruit.png) no-repeat left center/contain;
}

.nav .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 25px;
  margin-top: 77px;
  margin-bottom: 25px;
}

.nav .social__twitter, .nav .social__facebook {
  display: block;
  width: 30px;
  height: 30px;
}

.nav .social__twitter {
  background: url(../../common/img/social_twitter.png) no-repeat center center/contain;
}

.nav .social__facebook {
  background: url(../../common/img/social_facebook.png) no-repeat center center/contain;
}

.nav .copyright {
  font-size: 11px;
}

.nav.in {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

button {
  width: 100%;
  position: relative;
  display: block;
  width: 78%;
  height: 45px;
  margin: 0 auto;
}

button::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 auto;
  top: 0%;
  background-image: repeating-linear-gradient(-45deg, #ea5413, #ea5413 0.6px, transparent 0, transparent 6.6px);
}

button p {
  display: block;
  height: 100%;
  background: url(../../common/img/backButton.png) no-repeat;
  background-position: 50%;
}

footer {
  padding-top: 65px;
  padding-bottom: 60px;
  text-align: center;
  background: #808080;
  color: #fff;
}

footer .logo {
  margin-bottom: 40px;
}

footer .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 90px 40px;
  color: #fff;
  text-align: start;
}

footer .nav__list .nav__item {
  position: relative;
}

footer .nav__list .nav__item span {
  display: block;
  font-family: 'Bookman Old Style';
  font-size: 14.25px;
}

footer .nav__list .nav__item::before {
  content: "";
  width: 1px;
  height: 35px;
  position: absolute;
  background: #fff;
  left: -15px;
}

footer .nav__list .nav__item::after {
  content: "";
  width: 0%;
  height: 3px;
  display: block;
  position: absolute;
  top: 20%;
  background: #ea5413;
  -webkit-transition: .5s;
  transition: .5s;
}

footer .nav__list .nav__item:hover:after {
  width: 100%;
}

footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 25px;
  margin-bottom: 28px;
}

footer .social__twitter, footer .social__facebook {
  display: block;
  width: 30px;
  height: 30px;
}

footer .social__twitter {
  background: url(../../common/img/social_twitter.png) no-repeat center center/contain;
}

footer .social__facebook {
  background: url(../../common/img/social_facebook.png) no-repeat center center/contain;
}

footer .copyright {
  font-size: 11px;
}

footer .toTop {
  position: relative;
  border-right: 67px solid transparent;
  border-bottom: 61px solid #fff;
  border-left: 67px solid transparent;
}

footer .toTop::before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  border-top: 2px solid gray;
  border-right: 2px solid gray;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 50px;
  left: -5px;
}

.news .newsBox__details, .greeting__details, .outline__details, .branding__details, .recruit__details {
  height: 41px;
  line-height: 41px;
  position: relative;
  margin: 0 auto;
  border: 1px solid #000;
  font-size: 13px;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
}

.news .newsBox__details::before, .greeting__details::before, .outline__details::before, .branding__details::before, .recruit__details::before {
  content: "";
  position: absolute;
  background: #ea5413;
  width: 500px;
  height: 50px;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 1s;
  transition: 1s;
}

.news .newsBox__details:hover:before, .greeting__details:hover:before, .outline__details:hover:before, .branding__details:hover:before, .recruit__details:hover:before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  z-index: 2;
}

.news .newsBox__details a, .greeting__details a, .outline__details a, .branding__details a, .recruit__details a {
  display: block;
  position: relative;
  z-index: 3;
  -webkit-transition: 1s;
  transition: 1s;
}

.news .newsBox__details a::after, .greeting__details a::after, .outline__details a::after, .branding__details a::after, .recruit__details a::after {
  content: "ー＞";
}

.news .newsBox__details:hover, .greeting__details:hover, .outline__details:hover, .branding__details:hover, .recruit__details:hover {
  border: none;
}

.news .newsBox__details:hover a, .greeting__details:hover a, .outline__details:hover a, .branding__details:hover a, .recruit__details:hover a {
  color: #fff;
}

.news .bg, .greeting .bg, .outline .bg, .branding .bg, .recruit .bg {
  height: 100px;
  position: absolute;
  bottom: 0;
  right: 0;
  background: no-repeat;
  z-index: -1;
}

.fadeIn {
  opacity: 1 !important;
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
}

.top {
  height: 800px;
  position: relative;
}

.top video {
  width: 1200px;
  display: block;
  margin: 0 0 0 auto;
  overflow: hidden;
}

.top::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 62px;
  background: url(../../common/img/top/scroll.png) no-repeat center center/cover;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
}

.top .top__fonts {
  position: absolute;
  left: 282px;
  top: 177px;
}

.news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 35px 0 75px 115px;
}

.news .col__left {
  width: 533px;
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  opacity: 0;
  -webkit-transition: .8s;
  transition: .8s;
}

.news__ttl {
  width: 240px;
  height: 55%;
  position: absolute;
  top: 42%;
  background: url(../../common/img/top/newsTtl.png) no-repeat;
}

.news__img:first-of-type {
  margin-bottom: 35px;
}

.news .col__right {
  margin: 85px auto 0;
  width: 365px;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  opacity: 0;
  -webkit-transition: .8s;
  transition: .8s;
}

.news .newsBox {
  cursor: pointer;
}

.news .newsBox:not(:first-of-type) {
  padding-top: 20px;
}

.news .newsBox:not(:nth-of-type(3)) {
  border-bottom: 1px dotted;
  padding-bottom: 20px;
}

.news .newsBox__date {
  font-size: 12px;
  margin-bottom: 9px;
}

.news .newsBox__ttl {
  display: inline-block;
  padding: 0 5px;
  font-size: 17px;
  color: #fff;
  background: #ea5413;
}

.news .newsBox__text {
  font-size: 14px;
  margin-top: 9px;
}

.news .newsBox__more {
  margin-top: 10px;
  font-size: 13px;
  color: #ea5413;
  text-align: end;
  -webkit-transition: .5s;
  transition: .5s;
}

.news .newsBox__more::before {
  content: "ー＞";
  margin-right: 0.5em;
}

.news .newsBox:hover .newsBox__more {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.news .newsBox__details {
  width: 262px;
  margin-top: 55px;
}

.news .bg {
  width: 380px;
  background-image: url(../../common/img/top/news_bg.png);
}

.greeting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 41px 0 175px 155px;
}

.greeting .col__left {
  padding-top: 140px;
  -ms-flex-preferred-size: 470px;
      flex-basis: 470px;
  margin-right: 30px;
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  opacity: 0;
}

.greeting__ttl {
  width: 240px;
  height: 55px;
  background: url(../../common/img/top/greetingTtl.png) no-repeat;
}

.greeting__sub {
  width: 100px;
  height: 19px;
  margin-bottom: 45px;
  background: url(../../common/img/top/greetingSubTtl.png) no-repeat;
}

.greeting__text {
  line-height: 2.5;
  margin-bottom: 30px;
}

.greeting__details {
  width: 238px;
}

.greeting .col__right {
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  opacity: 0;
}

.greeting .col__right img {
  margin: 90px 90px 0 auto;
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

.greeting .bg {
  width: 663px;
  background-image: url(../../common/img/top/greeting_bg.png);
}

.greeting::after {
  content: "";
  width: 55%;
  height: 60vh;
  background-color: rgba(234, 85, 20, 0.1);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.outline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 15%;
  padding: 37px 0 128px 192px;
}

.outline .col__left {
  padding-top: 160px;
  font-size: 14px;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  opacity: 0;
}

.outline__ttl {
  width: 240px;
  height: 55px;
  background: url(../../common/img/top/outlineTtl.png) no-repeat;
}

.outline__sub {
  width: 188px;
  height: 20px;
  margin-bottom: 45px;
  background: url(../../common/img/top/outlineSubTtl.png) no-repeat;
}

.outline__details {
  width: 298px;
}

.outline table {
  margin-bottom: 60px;
}

.outline th,
.outline td {
  padding-top: 5px;
}

.outline th {
  width: 100px;
}

.outline td {
  width: 270px;
}

.outline .col__right {
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  opacity: 0;
}

.outline .col__right img {
  margin-right: 115px;
}

.outline .bg {
  width: 630px;
  background-image: url(../../common/img/top/outline_bg.png);
}

.outline::after {
  content: "";
  width: 80%;
  height: 75vh;
  background: rgba(234, 85, 20, 0.1);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.branding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 42px 0 92px 192px;
}

.branding .col__left {
  margin-top: 110px;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  opacity: 0;
}

.branding__ttl {
  width: 240px;
  height: 55px;
  background: url(../../common/img/top/brandingTtl.png) no-repeat;
}

.branding__sub {
  width: 100px;
  height: 20px;
  margin-bottom: 45px;
  background: url(../../common/img/top/brandingSubTtl.png) no-repeat;
}

.branding .brandIcon {
  margin-top: 70px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (243px)[2];
      grid-template-columns: repeat(2, 243px);
  margin-bottom: 40px;
}

.branding .brandIcon__img {
  margin-bottom: 40px;
  cursor: pointer;
}

.branding .brandIcon__img:hover {
  opacity: .5;
}

.branding__details {
  width: 261px;
  margin: 0;
}

.branding .col__right {
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  opacity: 0;
}

.branding .col__right .branding__img:not(:last-of-type) {
  margin-bottom: 20px;
}

.branding .bg {
  width: 700px;
  background-image: url(../../common/img/top/branding_bg.png);
}

.branding::after {
  content: "";
  width: 73%;
  height: 82.5vh;
  background: rgba(234, 85, 20, 0.1);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.recruit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 39px 0 173px 166px;
}

.recruit .col__left {
  padding-top: 165px;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  opacity: 0;
}

.recruit__ttl {
  width: 240px;
  height: 55px;
  background: url(../../common/img/top/recruitTtl.png) no-repeat;
}

.recruit__sub {
  width: 90px;
  height: 15px;
  margin-bottom: 45px;
  background: url(../../common/img/top/recruitSubTtl.png) no-repeat;
}

.recruit__text {
  margin-bottom: 97px;
}

.recruit .work {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (160px)[3];
      grid-template-columns: repeat(3, 160px);
  gap: 32px;
}

.recruit .work__box {
  height: 95px;
  position: relative;
  background: #ea5413;
  color: #fff;
  cursor: pointer;
}

.recruit .work__text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.recruit .work__icon {
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: -10%;
  right: -10%;
  border-radius: 50%;
  border-top: 2px solid #f8e9d2;
  border-left: 2px solid #f8e9d2;
}

.recruit .work .icon1 {
  background: url(../../common/img/top/recruitIcon_01.png) no-repeat center center/cover;
}

.recruit .work .icon2 {
  background: url(../../common/img/top/recruitIcon_02.png) no-repeat center center/cover;
}

.recruit .work .icon3 {
  background: url(../../common/img/top/recruitIcon_03.png) no-repeat center center/cover;
}

.recruit .work .icon4 {
  background: url(../../common/img/top/recruitIcon_04.png) no-repeat center center/cover;
}

.recruit .work .icon3 {
  background: url(../../common/img/top/recruitIcon_03.png) no-repeat center center/cover;
}

.recruit .work .icon5 {
  background: url(../../common/img/top/recruitIcon_05.png) no-repeat center center/cover;
}

.recruit .work .icon6 {
  background: url(../../common/img/top/recruitIcon_06.png) no-repeat center center/cover;
}

.recruit .col__right {
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  opacity: 0;
}

.recruit .col__right img {
  margin: 50px 30px 60px auto;
}

.recruit__details {
  width: 301px;
}

.recruit .bg {
  width: 570px;
  background-image: url(../../common/img/top/recruit_bg.png);
}

.recruit::after {
  content: "";
  width: 73%;
  height: 75%;
  background: rgba(234, 85, 20, 0.1);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.scroll_bg01,
.scroll_bg02,
.scroll_bg03,
.scroll_bg04,
.scroll_bg05 {
  background-repeat: no-repeat;
  background-position: 0 800px;
  width: 100%;
  height: 200%;
  position: absolute;
  pointer-events: none;
}

.scroll_bg01 {
  background-image: url(../../common/img/top/header_01.png);
  top: 0;
  z-index: 4;
}

.scroll_bg02 {
  background-image: url(../../common/img/top/header_02.png);
  top: 839px;
  z-index: 4;
}

.scroll_bg03 {
  background-image: url(../../common/img/top/header_03.png);
  top: 1676px;
  z-index: 4;
}

.scroll_bg04 {
  background-image: url(../../common/img/top/header_04.png);
  top: 2513px;
  z-index: 4;
}

.scroll_bg05 {
  background-image: url(../../common/img/top/header_05.png);
  top: 3352px;
  z-index: 4;
}
/*# sourceMappingURL=style.css.map */