@charset "UTF-8";
@import "../../common/css/_common.scss";

%btn-style {
  height: 41px;
  line-height: 41px;
  position: relative;
  margin: 0 auto;
  border: 1px solid #000;
  font-size: 13px;
  overflow: hidden;
  cursor: pointer;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    background: $orange;
    width: 500px;
    height: 50px;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: 1s;
  }

  &:hover:before {
    transform: translateX(0);
    z-index: 2;
  }

  & a {
    display: block;
    position: relative;
    z-index: 3;
    transition: 1s;

    &::after {
      content: "ー＞";
    }
  }

  &:hover {
    border: none;

    a {
      color: $white;
    }
  }
}

%bg-style {
  height: 100px;
  position: absolute;
  bottom: 0;
  right: 0;
  background: no-repeat;
  z-index: -1;
}

.fadeIn {
  opacity:1 !important;
  transform:translateX(0) !important;
}

.top {
  height: 800px;
  position: relative;

  video {
    width: 1200px;
    display: block;
    margin: 0 0 0 auto;
    overflow: hidden;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 62px;
    background: url(../../common/img/top/scroll.png) no-repeat center center/cover;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }

  .top__fonts {
    position: absolute;
    left: 282px;
    top: 177px;
  }
}

.news {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 35px 0 75px 115px;

  .col__left {
    width: 533px;
    transform:translateX(-50px);
    opacity:0;
    transition: .8s;
  }

  &__ttl {
    width: 240px;
    height: 55%;
    position: absolute;
    top: 42%;
    background: url(../../common/img/top/newsTtl.png) no-repeat;
  }

  &__img:first-of-type {
    margin-bottom: 35px;
  }

  .col__right {
    margin: 85px auto 0;
    width: 365px;
    transform:translateY(50px);
    opacity:0;
    transition: .8s;
  }

  .newsBox {
    cursor: pointer;

    &:not(:first-of-type) {
      padding-top: 20px;
    }

    &:not(:nth-of-type(3)) {
      border-bottom: 1px dotted;
      padding-bottom: 20px;
    }

    &__date {
      font-size: 12px;
      margin-bottom: 9px;
    }

    &__ttl {
      display: inline-block;
      padding: 0 5px;
      font-size: 17px;
      color: $white;
      background: $orange;
    }

    &__text {
      font-size: 14px;
      margin-top: 9px;
    }

    &__more {
      margin-top: 10px;
      font-size: 13px;
      // font-family: Helvetica;
      color: $orange;
      text-align: end;
      transition: .5s;

      &::before {
        content: "ー＞";
        margin-right: 0.5em;
      }
    }

    &:hover .newsBox__more {
      transform: translateX(10px)
    }

    &__details {
      @extend %btn-style;
      width: 262px;
      margin-top: 55px;
    }
  }

  .bg {
    @extend %bg-style;
    width: 380px;
    background-image: url(../../common/img/top/news_bg.png);
  }
}

.greeting {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 41px 0 175px 155px;

  .col__left {
    padding-top: 140px;
    flex-basis: 470px;
    margin-right: 30px;
    transition-delay: .3s;
    transition: .3s;
    transform:translateX(-50px);
    opacity:0;
  }

  &__ttl {
    width: 240px;
    height: 55px;
    background: url(../../common/img/top/greetingTtl.png) no-repeat;
  }

  &__sub {
    width: 100px;
    height: 19px;
    margin-bottom: 45px;
    background: url(../../common/img/top/greetingSubTtl.png) no-repeat;
  }

  &__text {
    line-height: 2.5;
    margin-bottom: 30px;
  }

  &__details {
    @extend %btn-style;
    width: 238px;
  }

  .col__right {
    transition: .3s;
    transform:translateY(50px);
    opacity:0;

    img {
      margin: 90px 90px 0 auto;
      transition-delay: .3s;
    }
  }

  .bg {
    @extend %bg-style;
    width: 663px;
    background-image: url(../../common/img/top/greeting_bg.png);
  }

  &::after {
    content: "";
    width: 55%;
    height: 60vh;
    background-color: rgba(234,85,20,.1);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
}

.outline {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding-left: 15%;
  padding: 37px 0 128px 192px;
  
  .col__left {
    padding-top: 160px;
    font-size: 14px;
    transition: .3s;
    transform:translateX(-50px);
    opacity:0;
  }

  &__ttl{
    width: 240px;
    height: 55px;
    background: url(../../common/img/top/outlineTtl.png) no-repeat;
  }

  &__sub {
    width: 188px;
    height: 20px;
    margin-bottom: 45px;
    background: url(../../common/img/top/outlineSubTtl.png) no-repeat;
  }

  &__details {
    @extend %btn-style;
    width: 298px;
  }

  table {
    margin-bottom: 60px;
  }

  th,
  td {
    padding-top: 5px;
  }

  th {
    width: 100px;
  }

  td {
    width: 270px;
  }

  .col__right {
    transition: .3s;
    transform:translateY(50px);
    opacity:0;

    img {
      margin-right: 115px;
    }
  }

  .bg {
    @extend %bg-style;
    width: 630px;
    background-image: url(../../common/img/top/outline_bg.png);
  }

  &::after {
    content: "";
    width: 80%;
    height: 75vh;
    background: rgba(234,85,20,.1);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
}

.branding {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 42px 0 92px 192px;

  .col__left {
    margin-top: 110px;
    transition: .3s;
    transform:translateX(-50px);
    opacity:0;
  }

  &__ttl {
    width: 240px;
    height: 55px;
    background: url(../../common/img/top/brandingTtl.png) no-repeat;
  }

  &__sub {
    width: 100px;
    height: 20px;
    margin-bottom: 45px;
    background: url(../../common/img/top/brandingSubTtl.png) no-repeat;
  }

  .brandIcon {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(2, 243px);
    margin-bottom: 40px;

    &__img {
      margin-bottom: 40px;
      cursor: pointer;

      &:hover {
        opacity: .5
      }
    }
  }
  
  &__details {
    @extend %btn-style;
    width: 261px;
    margin: 0;
  }

  .col__right {
    transition: .3s;
    transform:translateY(50px);
    opacity:0;

    .branding__img:not(:last-of-type) {
      margin-bottom: 20px;
    }
  }

  .bg {
    @extend %bg-style;
    width: 700px;
    background-image: url(../../common/img/top/branding_bg.png);
  }

  &::after {
    content: "";
    width: 73%;
    height: 82.5vh;
    background: rgba(234,85,20,.1);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
}

.recruit {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 39px 0 173px 166px;

  .col__left {
    padding-top: 165px;
    transition: .3s;
    transform:translateX(-50px);
    opacity:0;
  }

  &__ttl {
  width: 240px;
  height: 55px;
  background: url(../../common/img/top/recruitTtl.png) no-repeat;
  }
  
  &__sub {
  width: 90px;
  height: 15px;
  margin-bottom: 45px;
  background: url(../../common/img/top/recruitSubTtl.png) no-repeat;
  }

  &__text {
    margin-bottom: 97px;
  }

  .work {
    display: grid;
    grid-template-columns: repeat(3, 160px);
    gap: 32px;

    &__box {
      height: 95px;
      position: relative;
      background: $orange;
      color: $white;
      cursor: pointer;

      // &::after {
      //   content: "";
      //   width: 190px;
      //   height: 95px;
      //   display: block;
      //   background: url(../../common/img/top/hover.png);
      //   animation: c 5s linear infinite;
      //   position: absolute;
      // }
    }

    &__text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &__icon {
      position: absolute;
      width: 30px;
      height: 30px;
      bottom: -10%;
      right: -10%;
      border-radius: 50%;
      border-top: 2px solid $mainColor;
      border-left: 2px solid $mainColor;
    }


    .icon1 {
      background: url(../../common/img/top/recruitIcon_01.png) no-repeat center center/cover;
    }

    .icon2 {
      background: url(../../common/img/top/recruitIcon_02.png) no-repeat center center/cover;
    }

    .icon3 {
      background: url(../../common/img/top/recruitIcon_03.png) no-repeat center center/cover;
    }

    .icon4 {
      background: url(../../common/img/top/recruitIcon_04.png) no-repeat center center/cover;
    }
    .icon3 {
      background: url(../../common/img/top/recruitIcon_03.png) no-repeat center center/cover;
    }

    .icon5 {
      background: url(../../common/img/top/recruitIcon_05.png) no-repeat center center/cover;
    }

    .icon6 {
      background: url(../../common/img/top/recruitIcon_06.png) no-repeat center center/cover;
    }
  }

  .col__right {
    transition: .3s;
    transform:translateY(50px);
    opacity:0;

    img {
      margin: 50px 30px 60px auto;
    }
  }

  &__details {
    @extend %btn-style;
    width: 301px;
  }

  .bg {
    @extend %bg-style;
    width: 570px;
    background-image: url(../../common/img/top/recruit_bg.png);
  }

  &::after {
    content: "";
    width: 73%;
    height: 75%;
    background: rgba(234,85,20,.1);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
}

.scroll_bg01,
.scroll_bg02,
.scroll_bg03,
.scroll_bg04,
.scroll_bg05 {
  background-repeat: no-repeat;
  background-position: 0 800px;
  width: 100%;
  height: 200%;
  position: absolute;
  pointer-events: none;
}


.scroll_bg01 {
  background-image: url(../../common/img/top/header_01.png);
  top: 0;
  z-index: 4;
}
.scroll_bg02 {
  background-image: url(../../common/img/top/header_02.png);
  top: 839px;
  z-index: 4;
}
.scroll_bg03 {
  background-image: url(../../common/img/top/header_03.png);
  top: 1676px;
  z-index: 4;
}
.scroll_bg04 {
  background-image: url(../../common/img/top/header_04.png);
  top: 2513px;
  z-index: 4;
}
.scroll_bg05 {
  background-image: url(../../common/img/top/header_05.png);
  top: 3352px;
  z-index: 4;
}
