@charset "UTF-8";
body {
  min-width: 1280px;
  overflow-x: hidden;
  background: #f8e9d2;
  font-family: 'Yu Gothic','YuGothic','Noto Sans Japanese','Helvetica Neue','ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN',Arial,'Meiryo',sans-serif;
  line-height: 1.5;
}

.hamburger {
  width: 30px;
  height: 30px;
  position: fixed;
  z-index: 2;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 30px;
  cursor: pointer;
}

.hamburger__line {
  background-color: #ea5413;
  height: 5px;
  width: 100%;
  position: absolute;
  -webkit-transition: 1s;
  transition: 1s;
}

.line2 {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.line3 {
  bottom: 0;
}

.line_1,
.line_2,
.line_3 {
  background-color: #fff;
}

.line_1 {
  width: 60%;
  -webkit-transform: translateY(5px) rotate(-45deg);
          transform: translateY(5px) rotate(-45deg);
}

.line_3 {
  width: 60%;
  -webkit-transform: translateY(-5px) rotate(45deg);
          transform: translateY(-5px) rotate(45deg);
}

.nav {
  width: 420px;
  height: 100vh;
  background: #808080;
  position: fixed;
  text-align: center;
  font-size: 14px;
  color: #fff;
  z-index: 1;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 1s;
  transition: 1s;
}

.nav .logo {
  width: 207px;
  margin: 45px 0 55px;
}

.nav .list__item a {
  display: block;
  width: 50px;
  height: 50px;
  background: url(../../common/img/nav_home.png) no-repeat center center/cover;
}

.nav .copyright {
  font-size: 11px;
}

.nav.in {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

footer {
  padding-top: 65px;
  padding-bottom: 95px;
  text-align: center;
  background: #808080;
  color: #fff;
}

footer .icon {
  margin-bottom: 40px;
}

footer .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 90px 40px;
  color: #fff;
  text-align: start;
}

footer .nav__list .nav__item {
  position: relative;
}

footer .nav__list .nav__item span {
  display: block;
  font-family: 'Bookman Old Style';
  font-size: 14.25px;
}

footer .nav__list .nav__item::before {
  content: "";
  width: 1px;
  height: 35px;
  position: absolute;
  background: #fff;
  left: -15px;
}

footer .nav__list .nav__item::after {
  content: "";
  width: 0%;
  height: 3px;
  display: block;
  position: absolute;
  top: 20%;
  background: #ea5413;
  -webkit-transition: .5s;
  transition: .5s;
}

footer .nav__list .nav__item:hover:after {
  width: 100%;
}

footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 25px;
  margin-bottom: 28px;
}

footer .copyright {
  font-size: 11px;
}

footer .toTop {
  border-right: 100px solid transparent;
  border-bottom: 99px solid #fff;
  border-left: 100px solid transparent;
}

.header {
  display: none;
  width: 100vw;
  height: 450px;
  background: #ea5413;
  color: #fff;
  position: relative;
}

.header .headerText {
  width: calc(100vw - 165px);
  height: 150px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(165px, -50%);
          transform: translate(165px, -50%);
  background: #ea5413;
}

.header .headerText__ttl, .header .headerText__sub {
  width: 100%;
  background: no-repeat left;
}

.header .headerText::before {
  content: "";
  position: absolute;
  color: #fff;
  border-style: solid;
  border-left-width: 4px;
  border-bottom-width: 140px;
  left: 10px;
  top: -100%;
}

.header .headerText::after {
  content: "";
  position: absolute;
  color: #fff;
  border-style: solid;
  border-left-width: 4px;
  border-bottom-width: 140px;
  left: 10px;
  bottom: -100%;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container button {
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 13px 50px 13px 63px;
  border: 1px solid #000;
  font-size: 13px;
  text-align: center;
  overflow: hidden;
  -webkit-transition: 1s;
  transition: 1s;
}

.container button::before {
  content: "";
  position: absolute;
  background: #ea5413;
  width: 245px;
  height: 47.5px;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: .5s;
  transition: .5s;
}

.container button:hover:before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  z-index: 2;
}

.container button p {
  position: relative;
  z-index: 3;
}

.container button p::after {
  content: "ー＞";
}

.container button:hover {
  color: #fff;
  border: none;
}

.bg {
  height: 100px;
  position: absolute;
  bottom: 0;
  right: 0;
  background: no-repeat;
  z-index: -1;
}

.top {
  height: 800px;
  position: relative;
}

.top video {
  width: 1200px;
  display: block;
  margin: 0 0 0 auto;
  overflow: hidden;
}

.top::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 62px;
  background: url(../../common/img/top/scroll.png) no-repeat center center/cover;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
}

.top .top__fonts {
  position: absolute;
  left: 282px;
  top: 177px;
}

.news {
  height: 800px;
  padding: 0 0 0 115px;
  position: relative;
}

.news .headerText__ttl {
  height: 70%;
  background-image: url(../../common/img/top/newsTtl_01.png);
}

.news .headerText__sub {
  height: 30%;
  background-image: url(../../common/img/top/newsSubTtl_01.png);
}

.news .col__left {
  width: 533px;
}

.news .col__left .news__ttl {
  width: 240px;
  height: 100%;
  position: absolute;
  top: 39%;
  background: url(../../common/img/top/newsTtl_02.png) no-repeat;
}

.news .col__left .news__img:first-of-type {
  margin-bottom: 35px;
}

.news .col__right {
  margin: 85px auto 0;
  width: 365px;
}

.news .col__right .newsBox {
  border-bottom: 1px dotted;
  padding-bottom: 30px;
}

.news .col__right .newsBox:last-of-type {
  border-bottom: none;
}

.news .col__right .newsBox:not(:first-of-type) {
  padding-top: 20px;
}

.news .col__right .newsBox .newsBox__date {
  font-size: 12px;
  padding-bottom: 1em;
}

.news .col__right .newsBox .newsBox__ttl {
  display: inline-block;
  padding: 0 5px;
  font-size: 17px;
  color: #fff;
  background: #ea5413;
}

.news .col__right .newsBox .newsBox__text {
  font-size: 14px;
  margin-top: 10px;
}

.news .col__right .newsBox .newsBox__more {
  margin-top: 10px;
  font-size: 13px;
  font-weight: bold;
  color: #ea5413;
  text-align: end;
}

.news .col__right .newsBox .newsBox__more::before {
  content: "ー＞";
  margin-right: 0.5em;
}

.news .bg {
  width: 380px;
  background-image: url(../../common/img/top/news_bg.png);
}

.greeting {
  height: 800px;
  position: relative;
  padding-left: 12%;
}

.greeting .headerText__ttl {
  height: 70%;
  background-image: url(../../common/img/top/greetingTtl_01.png);
}

.greeting .headerText__sub {
  height: 30%;
  background-image: url(../../common/img/top/greetingSubTtl_01.png);
}

.greeting .col__left {
  padding-top: 140px;
  -ms-flex-preferred-size: 470px;
      flex-basis: 470px;
  margin-right: 30px;
}

.greeting .col__left .greeting__ttl {
  width: 240px;
  height: 55px;
  background: url(../../common/img/top/greetingTtl_02.png) no-repeat;
}

.greeting .col__left .greeting__sub {
  width: 90px;
  height: 15px;
  margin-bottom: 45px;
  background: url(../../common/img/top/greetingSubTtl_02.png) no-repeat;
}

.greeting .col__left .greeting__text {
  line-height: 2.5;
  margin-bottom: 30px;
}

.greeting .col__right img {
  margin: 90px 90px 0 auto;
}

.greeting .bg {
  width: 663px;
  background-image: url(../../common/img/top/greeting_bg.png);
}

.greeting::after {
  content: "";
  width: 55%;
  height: 60vh;
  background-color: rgba(234, 85, 20, 0.1);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.outline {
  position: relative;
  height: 800px;
  padding-left: 15%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.outline .headerText__ttl {
  height: 70%;
  background-image: url(../../common/img/top/outlineTtl_01.png);
}

.outline .headerText__sub {
  height: 30%;
  background-image: url(../../common/img/top/outlineSubTtl_01.png);
}

.outline .col__left {
  padding-top: 160px;
  font-size: 14px;
}

.outline .col__left .outline__ttl {
  width: 240px;
  height: 55px;
  background: url(../../common/img/top/outlineTtl_02.png) no-repeat;
}

.outline .col__left .outline__sub {
  width: 90px;
  height: 15px;
  margin-bottom: 45px;
  background: url(../../common/img/top/outlineSubTtl_02.png) no-repeat;
}

.outline .col__left table {
  margin-bottom: 60px;
}

.outline .col__left th,
.outline .col__left td {
  padding-top: 5px;
}

.outline .col__left th {
  width: 100px;
}

.outline .col__left td {
  width: 270px;
}

.outline .col__right img {
  margin-right: 115px;
}

.outline .bg {
  width: 630px;
  background-image: url(../../common/img/top/outline_bg.png);
}

.outline::after {
  content: "";
  width: 80%;
  height: 75vh;
  background: rgba(234, 85, 20, 0.1);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.branding {
  position: relative;
  height: 800px;
  padding-left: 15%;
}

.branding .headerText__ttl {
  height: 70%;
  background-image: url(../../common/img/top/brandingTtl_01.png);
}

.branding .headerText__sub {
  height: 30%;
  background-image: url(../../common/img/top/brandingSubTtl_01.png);
}

.branding .col__left {
  margin-top: 110px;
}

.branding .col__left .branding__ttl {
  width: 240px;
  height: 55px;
  background: url(../../common/img/top/brandingTtl_02.png) no-repeat;
}

.branding .col__left .branding__sub {
  width: 100px;
  height: 20px;
  margin-bottom: 45px;
  background: url(../../common/img/top/brandingSubTtl_02.png) no-repeat;
}

.branding .col__left .brandIcon {
  margin-top: 70px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (243px)[2];
      grid-template-columns: repeat(2, 243px);
  margin-bottom: 40px;
}

.branding .col__left .brandIcon .brandIcon__img {
  margin-bottom: 40px;
}

.branding .col__left button {
  margin: 0;
}

.branding .col__right .branding__img:not(:last-of-type) {
  margin-bottom: 20px;
}

.branding .bg {
  width: 700px;
  background-image: url(../../common/img/top/branding_bg.png);
}

.branding::after {
  content: "";
  width: 73%;
  height: 82.5vh;
  background: rgba(234, 85, 20, 0.1);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.recruit {
  position: relative;
  height: 800px;
  padding-left: 13%;
}

.recruit .headerText__ttl {
  height: 70%;
  background-image: url(../../common/img/top/recruitTtl_01.png);
}

.recruit .headerText__sub {
  height: 30%;
  background-image: url(../../common/img/top/recruitSubTtl_01.png);
}

.recruit .col__left {
  padding-top: 165px;
}

.recruit .col__left .recruit__ttl {
  width: 240px;
  height: 55px;
  background: url(../../common/img/top/recruitTtl_02.png) no-repeat;
}

.recruit .col__left .recruit__sub {
  width: 90px;
  height: 15px;
  margin-bottom: 45px;
  background: url(../../common/img/top/recruitSubTtl_02.png) no-repeat;
}

.recruit .col__left .recruit__text {
  margin-bottom: 97px;
}

.recruit .col__left .work {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (160px)[3];
      grid-template-columns: repeat(3, 160px);
  gap: 32px;
}

.recruit .col__left .box {
  height: 95px;
  position: relative;
  background: #ea5413;
  color: #fff;
  cursor: pointer;
}

.recruit .col__left .box .box__text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.recruit .col__left .box .box__icon {
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: -10%;
  right: -10%;
  border-radius: 50%;
  border-top: 2px solid #f8e9d2;
  border-left: 2px solid #f8e9d2;
}

.recruit .col__left .box .icon1 {
  background: url(../../common/img/top/recruitIcon_01.png) no-repeat center center/cover;
}

.recruit .col__left .box .icon2 {
  background: url(../../common/img/top/recruitIcon_02.png) no-repeat center center/cover;
}

.recruit .col__left .box .icon3 {
  background: url(../../common/img/top/recruitIcon_03.png) no-repeat center center/cover;
}

.recruit .col__left .box .icon4 {
  background: url(../../common/img/top/recruitIcon_04.png) no-repeat center center/cover;
}

.recruit .col__left .box .icon3 {
  background: url(../../common/img/top/recruitIcon_03.png) no-repeat center center/cover;
}

.recruit .col__left .box .icon5 {
  background: url(../../common/img/top/recruitIcon_05.png) no-repeat center center/cover;
}

.recruit .col__left .box .icon6 {
  background: url(../../common/img/top/recruitIcon_06.png) no-repeat center center/cover;
}

.recruit .col__right img {
  margin: 50px 30px 60px auto;
}

.recruit .bg {
  width: 570px;
  background-image: url(../../common/img/top/recruit_bg.png);
}

.recruit::after {
  content: "";
  width: 73%;
  height: 75%;
  background: rgba(234, 85, 20, 0.1);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
/*# sourceMappingURL=style.css.map */