@charset "UTF-8";
@import "../../common/css/_common.scss";

.header {
  display: none;
  width: 100vw;
  height: 450px;
  background: $orange;
  color: $white;
  position: relative;

  .headerText {
    width: calc(100vw - 165px);
    height: 150px;
    position: absolute;
    top: 50%;
    transform: translate(165px, -50%);
    background: $orange;

    &__ttl,
    &__sub {
      width: 100%;
      background: no-repeat left;
    }

    &::before {
      content: "";
      position: absolute;
      color: $white;
      border-style: solid;
      border-left-width: 4px;
      border-bottom-width: 140px;
      left: 10px;
      top: -100%;
    }

    &::after {
      content: "";
      position: absolute;
      color: $white;
      border-style: solid;
      border-left-width: 4px;
      border-bottom-width: 140px;
      left: 10px;
      bottom: -100%;
    }
  }
}

.container {
  display: flex;
  justify-content: space-between;

  button {
    display: block;
    position: relative;
    margin: 0 auto;
    padding: 13px 50px 13px 63px;
    border: 1px solid #000;
    font-size: 13px;
    text-align: center;
    overflow: hidden;
    transition: 1s;

    &::before {
      content: "";
      position: absolute;
      background: $orange;
      width: 245px;
      height: 47.5px;
      top: 0;
      left: 0;
      transform: translateX(-100%);
      transition: .5s;
    }

    &:hover:before {
      transform: translateX(0);
      z-index: 2;
    }

    & p {
      position: relative;
      z-index: 3;

      &::after {
        content: "ー＞";
      }
    }

    &:hover {
      color: $white;
      border: none;
    }
  }
}

.bg {
  height: 100px;
  position: absolute;
  bottom: 0;
  right: 0;
  background: no-repeat;
  z-index: -1;
}

.top {
  height: 800px;
  position: relative;

  video {
    width: 1200px;
    display: block;
    margin: 0 0 0 auto;
    overflow: hidden;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 62px;
    background: url(../../common/img/top/scroll.png) no-repeat center center/cover;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }

  .top__fonts {
    position: absolute;
    left: 282px;
    top: 177px;
  }
}

.news {
  height: 800px;
  padding: 0 0 0 115px;
  position: relative;
  
  .headerText__ttl {
    height: 70%;
    background-image: url(../../common/img/top/newsTtl_01.png);
  }
  
  .headerText__sub {
    height: 30%;
    background-image: url(../../common/img/top/newsSubTtl_01.png);
  }

  .col__left {
    width: 533px;

    .news__ttl {
      width: 240px;
      height: 100%;
      position: absolute;
      top: 39%;
      background: url(../../common/img/top/newsTtl_02.png) no-repeat;
    }

    .news__img:first-of-type {
      margin-bottom: 35px;
    }
  }

  .col__right {
    margin: 85px auto 0;
    width: 365px;

    .newsBox {
      // font-family: "游ゴシック体";
      border-bottom: 1px dotted;
      padding-bottom: 30px;

      &:last-of-type {
        border-bottom: none;
      }

      &:not(:first-of-type) {
        padding-top: 20px;
      }

      .newsBox__date {
        font-size: 12px;
        padding-bottom: 1em;
      }

      .newsBox__ttl {
        display: inline-block;
        padding: 0 5px;
        font-size: 17px;
        color: $white;
        background: $orange;
      }

      .newsBox__text {
        font-size: 14px;
        margin-top: 10px;
      }

      .newsBox__more {
        margin-top: 10px;
        font-size: 13px;
        // font-family: Helvetica;
        font-weight: bold;
        color: $orange;
        text-align: end;

        &::before {
          content: "ー＞";
          margin-right: 0.5em;
        }
      }
    }
  }

  .bg {
    width: 380px;
    background-image: url(../../common/img/top/news_bg.png);
  }
}

.greeting {
  height: 800px;
  position: relative;
  padding-left: 12%;

  .headerText__ttl {
    height: 70%;
    background-image: url(../../common/img/top/greetingTtl_01.png);
  }
  
  .headerText__sub {
    height: 30%;
    background-image: url(../../common/img/top/greetingSubTtl_01.png);
  }
  
  .col__left {
    padding-top: 140px;
    flex-basis: 470px;
    margin-right: 30px;

    .greeting__ttl {
      width: 240px;
      height: 55px;
      background: url(../../common/img/top/greetingTtl_02.png) no-repeat;
    }

    .greeting__sub {
      width: 90px;
      height: 15px;
      margin-bottom: 45px;
      background: url(../../common/img/top/greetingSubTtl_02.png) no-repeat;
    }

    .greeting__text {
      line-height: 2.5;
      margin-bottom: 30px;
    }
  }

  .col__right img {
    margin: 90px 90px 0 auto;
  }

  .bg {
    width: 663px;
    background-image: url(../../common/img/top/greeting_bg.png);
  }

  &::after {
    content: "";
    width: 55%;
    height: 60vh;
    background-color: rgba(234,85,20,.1);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

}

.outline {
  position: relative;
  height: 800px;
  padding-left: 15%;
  justify-content: space-between;

  .headerText__ttl {
    height: 70%;
    background-image: url(../../common/img/top/outlineTtl_01.png);
  }
  
  .headerText__sub {
    height: 30%;
    background-image: url(../../common/img/top/outlineSubTtl_01.png);
  }
  
  .col__left {
    padding-top: 160px;
    font-size: 14px;

    .outline__ttl{
      width: 240px;
      height: 55px;
      background: url(../../common/img/top/outlineTtl_02.png) no-repeat;
    }

    .outline__sub {
      width: 90px;
      height: 15px;
      margin-bottom: 45px;
      background: url(../../common/img/top/outlineSubTtl_02.png) no-repeat;
    }

    table {
      margin-bottom: 60px;
    }

    th,
    td {
      padding-top: 5px;
    }

    th {
      width: 100px;
    }

    td {
      width: 270px;
    }
  }

  .col__right img {
    margin-right: 115px;
  }

  .bg {
    width: 630px;
    background-image: url(../../common/img/top/outline_bg.png);
  }

  &::after {
    content: "";
    width: 80%;
    height: 75vh;
    background: rgba(234,85,20,.1);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
}

.branding {
  position: relative;
  height: 800px;
  padding-left: 15%;

  .headerText__ttl {
    height: 70%;
    background-image: url(../../common/img/top/brandingTtl_01.png);
  }
  
  .headerText__sub {
    height: 30%;
    background-image: url(../../common/img/top/brandingSubTtl_01.png);
  }

  .col__left {
    margin-top: 110px;

    .branding__ttl {
      width: 240px;
      height: 55px;
      background: url(../../common/img/top/brandingTtl_02.png) no-repeat;
    }

    .branding__sub {
      width: 100px;
      height: 20px;
      margin-bottom: 45px;
      background: url(../../common/img/top/brandingSubTtl_02.png) no-repeat;
    }

    .brandIcon {
      margin-top: 70px;
      display: grid;
      grid-template-columns: repeat(2, 243px);
      margin-bottom: 40px;

      .brandIcon__img {
        margin-bottom: 40px;
      }
    }

    button {
      margin: 0;
    }
  }

  .col__right {
    .branding__img:not(:last-of-type) {
      margin-bottom: 20px;
    }
  }

  .bg {
    width: 700px;
    background-image: url(../../common/img/top/branding_bg.png);
  }

  &::after {
    content: "";
    width: 73%;
    height: 82.5vh;
    background: rgba(234,85,20,.1);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
}

.recruit {
  position: relative;
  height: 800px;
  padding-left: 13%;

  .headerText__ttl {
    height: 70%;
    background-image: url(../../common/img/top/recruitTtl_01.png);
  }
  
  .headerText__sub {
    height: 30%;
    background-image: url(../../common/img/top/recruitSubTtl_01.png);
  }

  .col__left {
    padding-top: 165px;

    .recruit__ttl {
    width: 240px;
    height: 55px;
    background: url(../../common/img/top/recruitTtl_02.png) no-repeat;
    }
    
    .recruit__sub {
    width: 90px;
    height: 15px;
    margin-bottom: 45px;
    background: url(../../common/img/top/recruitSubTtl_02.png) no-repeat;
    }

    .recruit__text {
      margin-bottom: 97px;
    }

    .work {
      display: grid;
      grid-template-columns: repeat(3, 160px);
      gap: 32px;
    }

    .box {
      height: 95px;
      position: relative;
      background: $orange;
      color: $white;
      cursor: pointer;

      .box__text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .box__icon {
        position: absolute;
        width: 30px;
        height: 30px;
        bottom: -10%;
        right: -10%;
        border-radius: 50%;
        border-top: 2px solid $mainColor;
        border-left: 2px solid $mainColor;
      }

      .icon1 {
        background: url(../../common/img/top/recruitIcon_01.png) no-repeat center center/cover;
      }

      .icon2 {
        background: url(../../common/img/top/recruitIcon_02.png) no-repeat center center/cover;
      }

      .icon3 {
        background: url(../../common/img/top/recruitIcon_03.png) no-repeat center center/cover;
      }

      .icon4 {
        background: url(../../common/img/top/recruitIcon_04.png) no-repeat center center/cover;
      }
      .icon3 {
        background: url(../../common/img/top/recruitIcon_03.png) no-repeat center center/cover;
      }

      .icon5 {
        background: url(../../common/img/top/recruitIcon_05.png) no-repeat center center/cover;
      }

      .icon6 {
        background: url(../../common/img/top/recruitIcon_06.png) no-repeat center center/cover;
      }
    }
  }

  .col__right img {
    margin: 50px 30px 60px auto;
  }

  .bg {
    width: 570px;
    background-image: url(../../common/img/top/recruit_bg.png);
  }

  &::after {
    content: "";
    width: 73%;
    height: 75%;
    background: rgba(234,85,20,.1);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
}