@charset "UTF-8";
.greeting .header .ttl, .philosophy .ttl, .management .ttl, .vision .ttl {
  position: absolute;
  background: no-repeat;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-size: contain;
}

.greeting .header .subTtl, .philosophy .subTtl, .management .subTtl, .vision .subTtl {
  content: "";
  position: absolute;
  height: 20px;
  width: 55px;
  background: no-repeat;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 165px;
  background-size: contain;
}

.greeting .header .ttl::before, .philosophy .ttl::before, .management .ttl::before, .vision .ttl::before {
  content: "";
  height: 45px;
  display: block;
  background-image: repeating-linear-gradient(-45deg, #ea5413, #ea5413 0.6px, transparent 0, transparent 6.6px);
}

body {
  min-width: 1280px;
  overflow-x: hidden;
  background: #f8e9d2;
  font-family: 'Yu Gothic','YuGothic','Noto Sans Japanese','Helvetica Neue','ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN',Arial,'Meiryo',sans-serif;
  font-weight: 700;
  line-height: 1.5;
}

.hamburger {
  width: 30px;
  height: 30px;
  position: fixed;
  z-index: 6;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 30px;
  cursor: pointer;
}

.hamburger__line {
  background-color: #ea5413;
  height: 5px;
  width: 100%;
  position: absolute;
  -webkit-transition: 1s;
  transition: 1s;
}

.line2 {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.line3 {
  bottom: 0;
}

.line_1,
.line_2,
.line_3 {
  background-color: #fff;
}

.line_1 {
  width: 60%;
  -webkit-transform: translateY(5px) rotate(-45deg);
          transform: translateY(5px) rotate(-45deg);
}

.line_3 {
  width: 60%;
  -webkit-transform: translateY(-5px) rotate(45deg);
          transform: translateY(-5px) rotate(45deg);
}

.nav {
  width: 420px;
  height: 100vh;
  background: #808080;
  position: fixed;
  text-align: center;
  font-size: 14px;
  color: #fff;
  z-index: 5;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 1s;
  transition: 1s;
}

.nav .logo {
  width: 207px;
  margin: 45px 0 55px;
}

.nav .list__item {
  height: 22px;
}

.nav .list__item:not(:last-of-type) {
  margin-bottom: 35px;
}

.nav .list__text--1,
.nav .list__text--2,
.nav .list__text--3,
.nav .list__text--4,
.nav .list__text--5,
.nav .list__text--6 {
  width: 100px;
  height: 22px;
  display: block;
  margin: 0 auto;
}

.nav .list__text--1 {
  background: url(../../common/img/nav_home.png) no-repeat left center/contain;
}

.nav .list__text--2 {
  background: url(../../common/img/nav_news.png) no-repeat left center/contain;
}

.nav .list__text--3 {
  background: url(../../common/img/nav_greeting.png) no-repeat left center/contain;
}

.nav .list__text--4 {
  background: url(../../common/img/nav_outline.png) no-repeat left center/contain;
}

.nav .list__text--5 {
  background: url(../../common/img/nav_branding.png) no-repeat left center/contain;
}

.nav .list__text--6 {
  background: url(../../common/img/nav_recruit.png) no-repeat left center/contain;
}

.nav .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 25px;
  margin-top: 77px;
  margin-bottom: 25px;
}

.nav .social__twitter, .nav .social__facebook {
  display: block;
  width: 30px;
  height: 30px;
}

.nav .social__twitter {
  background: url(../../common/img/social_twitter.png) no-repeat center center/contain;
}

.nav .social__facebook {
  background: url(../../common/img/social_facebook.png) no-repeat center center/contain;
}

.nav .copyright {
  font-size: 11px;
}

.nav.in {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

button {
  width: 100%;
  position: relative;
  display: block;
  width: 78%;
  height: 45px;
  margin: 0 auto;
}

button::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 auto;
  top: 0%;
  background-image: repeating-linear-gradient(-45deg, #ea5413, #ea5413 0.6px, transparent 0, transparent 6.6px);
}

button p {
  display: block;
  height: 100%;
  background: url(../../common/img/backButton.png) no-repeat;
  background-position: 50%;
}

footer {
  padding-top: 65px;
  padding-bottom: 60px;
  text-align: center;
  background: #808080;
  color: #fff;
}

footer .logo {
  margin-bottom: 40px;
}

footer .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 90px 40px;
  color: #fff;
  text-align: start;
}

footer .nav__list .nav__item {
  position: relative;
}

footer .nav__list .nav__item span {
  display: block;
  font-family: 'Bookman Old Style';
  font-size: 14.25px;
}

footer .nav__list .nav__item::before {
  content: "";
  width: 1px;
  height: 35px;
  position: absolute;
  background: #fff;
  left: -15px;
}

footer .nav__list .nav__item::after {
  content: "";
  width: 0%;
  height: 3px;
  display: block;
  position: absolute;
  top: 20%;
  background: #ea5413;
  -webkit-transition: .5s;
  transition: .5s;
}

footer .nav__list .nav__item:hover:after {
  width: 100%;
}

footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 25px;
  margin-bottom: 28px;
}

footer .social__twitter, footer .social__facebook {
  display: block;
  width: 30px;
  height: 30px;
}

footer .social__twitter {
  background: url(../../common/img/social_twitter.png) no-repeat center center/contain;
}

footer .social__facebook {
  background: url(../../common/img/social_facebook.png) no-repeat center center/contain;
}

footer .copyright {
  font-size: 11px;
}

footer .toTop {
  position: relative;
  border-right: 67px solid transparent;
  border-bottom: 61px solid #fff;
  border-left: 67px solid transparent;
}

footer .toTop::before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  border-top: 2px solid gray;
  border-right: 2px solid gray;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 50px;
  left: -5px;
}

main {
  position: relative;
  padding: 225px 140px 190px 140px;
}

main .bg1,
main .bg2 {
  position: absolute;
  z-index: -1;
}

main .bg1 {
  background: url(../../common/img/greeting/bg_01.png) no-repeat;
  top: 0;
  left: 0;
  width: 670px;
  height: 135px;
}

main .bg2 {
  background: url(../../common/img/greeting/bg_02.png) no-repeat;
  bottom: 0;
  right: 0%;
  width: 852px;
  height: 105px;
}

.greeting {
  margin-bottom: 195px;
}

.greeting .header {
  position: relative;
  margin-bottom: 107px;
}

.greeting .header .ttl {
  width: 230px;
  background-image: url(../../common/img/greeting/ttl_01.png);
  position: static;
  -webkit-transform: none;
          transform: none;
}

.greeting .header .ttl::before {
  width: 745px;
  -webkit-transform: translateX(255px);
          transform: translateX(255px);
}

.greeting .header .subTtl {
  width: 95px;
  right: 15px;
  background-image: url(../../common/img/greeting/subTtl_01.png);
}

.greeting .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.greeting .container .greetingBox__text {
  margin: 35px 0 20px 0;
}

.philosophy {
  position: relative;
  margin-bottom: 80px;
}

.philosophy .ttl {
  width: 230px;
  margin-bottom: 42px;
  background-image: url(../../common/img/greeting/ttl_02.png);
  position: static;
  -webkit-transform: none;
          transform: none;
}

.philosophy .ttl::before {
  width: 745px;
  -webkit-transform: translateX(255px);
          transform: translateX(255px);
}

.philosophy .subTtl {
  width: 115px;
  right: 130px;
  background-image: url(../../common/img/greeting/subTtl_02.png);
  top: 24px;
}

.philosophy img {
  position: absolute;
  top: -70%;
  right: -95px;
  z-index: 1;
}

.philosophy .bg {
  width: 350px;
  height: 235px;
  top: 55%;
  right: -60px;
  background-color: rgba(234, 85, 20, 0.1);
  position: absolute;
}

.management {
  position: relative;
  margin-bottom: 80px;
}

.management .ttl {
  width: 230px;
  margin-bottom: 42px;
  background-image: url(../../common/img/greeting/ttl_03.png);
  position: static;
  -webkit-transform: none;
          transform: none;
}

.management .ttl::before {
  width: 650px;
  -webkit-transform: translateX(255px);
          transform: translateX(255px);
}

.management .subTtl {
  width: 205px;
  right: 350px;
  background-image: url(../../common/img/greeting/subTtl_03.png);
  top: 24px;
}

.management img {
  position: absolute;
  top: -80%;
  right: 80px;
}

.vision {
  position: relative;
  margin-bottom: 80px;
}

.vision .ttl {
  width: 230px;
  margin-bottom: 42px;
  background-image: url(../../common/img/greeting/ttl_04.png);
  position: static;
  -webkit-transform: none;
          transform: none;
}

.vision .ttl::before {
  width: 745px;
  -webkit-transform: translateX(255px);
          transform: translateX(255px);
}

.vision .subTtl {
  width: 175px;
  right: 150px;
  background-image: url(../../common/img/greeting/subTtl_04.png);
  top: 24px;
}

.vision img {
  position: absolute;
  top: -30%;
  right: -66px;
  z-index: 1;
}

.vision .bg {
  width: 275px;
  height: 170px;
  bottom: 55px;
  right: -140px;
  background-color: rgba(234, 85, 20, 0.1);
  position: absolute;
}
/*# sourceMappingURL=style.css.map */