@charset "UTF-8";
body {
  min-width: 1280px;
  overflow-x: hidden;
  background: #f8e9d2;
  font-family: 'Yu Gothic','YuGothic','Noto Sans Japanese','Helvetica Neue','ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN',Arial,'Meiryo',sans-serif;
  font-weight: 700;
  line-height: 1.5;
}

body::before {
  content: "";
  display: block;
  width: 100vw;
  height: 10px;
  background-color: #ea5413;
}

.hamburger {
  width: 30px;
  height: 30px;
  position: fixed;
  z-index: 6;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 30px;
  cursor: pointer;
}

.hamburger__line {
  background-color: #ea5413;
  height: 5px;
  width: 100%;
  position: absolute;
  -webkit-transition: 1s;
  transition: 1s;
}

.line2 {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.line3 {
  bottom: 0;
}

.line_1,
.line_2,
.line_3 {
  background-color: #fff;
}

.line_1 {
  width: 60%;
  -webkit-transform: translateY(5px) rotate(-45deg);
          transform: translateY(5px) rotate(-45deg);
}

.line_3 {
  width: 60%;
  -webkit-transform: translateY(-5px) rotate(45deg);
          transform: translateY(-5px) rotate(45deg);
}

.nav {
  width: 420px;
  height: 100vh;
  position: fixed;
  top: 0;
  background: #808080;
  text-align: center;
  font-size: 14px;
  color: #fff;
  z-index: 5;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 1s;
  transition: 1s;
}

.nav .logo {
  width: 207px;
  margin: 45px 0 55px;
}

.nav .list__item {
  height: 22px;
}

.nav .list__item:not(:last-of-type) {
  margin-bottom: 35px;
}

.nav .list__text--1,
.nav .list__text--2,
.nav .list__text--3,
.nav .list__text--4,
.nav .list__text--5,
.nav .list__text--6 {
  width: 100px;
  height: 22px;
  display: block;
  margin: 0 auto;
}

.nav .list__text--1 {
  background: url(../../common/img/nav_home.png) no-repeat left center/contain;
}

.nav .list__text--2 {
  background: url(../../common/img/nav_news.png) no-repeat left center/contain;
}

.nav .list__text--3 {
  background: url(../../common/img/nav_greeting.png) no-repeat left center/contain;
}

.nav .list__text--4 {
  background: url(../../common/img/nav_outline.png) no-repeat left center/contain;
}

.nav .list__text--5 {
  background: url(../../common/img/nav_branding.png) no-repeat left center/contain;
}

.nav .list__text--6 {
  background: url(../../common/img/nav_recruit.png) no-repeat left center/contain;
}

.nav .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 25px;
  margin-top: 77px;
  margin-bottom: 25px;
}

.nav .social__twitter, .nav .social__facebook {
  display: block;
  width: 30px;
  height: 30px;
}

.nav .social__twitter {
  background: url(../../common/img/social_twitter.png) no-repeat center center/contain;
}

.nav .social__facebook {
  background: url(../../common/img/social_facebook.png) no-repeat center center/contain;
}

.nav .copyright {
  font-size: 11px;
  text-indent: 1;
}

.nav.in {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

button {
  width: 100%;
  position: relative;
  height: 45px;
  margin: 0 auto;
  overflow: hidden;
}

button::before {
  content: "";
  width: 120%;
  height: 100%;
  display: block;
  background-image: url(../../common/img/diagonalLine.png);
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
}

button a {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90px;
  height: 15px;
  background: url(../../common/img/backButton.png) no-repeat;
}

footer {
  padding-top: 65px;
  padding-bottom: 60px;
  text-align: center;
  background: #808080;
  color: #fff;
}

footer .logo {
  margin-bottom: 40px;
}

footer .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 90px 40px;
  color: #fff;
  text-align: start;
}

footer .nav__list .nav__item {
  position: relative;
}

footer .nav__list .nav__item span {
  display: block;
  font-family: 'Bookman Old Style';
  font-size: 14.25px;
}

footer .nav__list .nav__item::before {
  content: "";
  width: 1px;
  height: 35px;
  position: absolute;
  background: #fff;
  left: -15px;
}

footer .nav__list .nav__item::after {
  content: "";
  width: 0%;
  height: 3px;
  display: block;
  position: absolute;
  top: 20%;
  background: #ea5413;
  -webkit-transition: .5s;
  transition: .5s;
}

footer .nav__list .nav__item:hover:after {
  width: 100%;
}

footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 25px;
  margin-bottom: 28px;
}

footer .social__twitter, footer .social__facebook {
  display: block;
  width: 30px;
  height: 30px;
}

footer .social__twitter {
  background: url(../../common/img/social_twitter.png) no-repeat center center/contain;
}

footer .social__facebook {
  background: url(../../common/img/social_facebook.png) no-repeat center center/contain;
}

footer .copyright {
  font-size: 11px;
  text-indent: 1em;
}

footer .toTop {
  position: relative;
  border-right: 67px solid transparent;
  border-bottom: 61px solid #fff;
  border-left: 67px solid transparent;
}

footer .toTop::before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  border-top: 2px solid gray;
  border-right: 2px solid gray;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 50px;
  left: -5px;
}

main {
  position: relative;
  padding: 225px 140px 190px 140px;
}

main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  margin-top: 95px;
}

main .greeting {
  margin-bottom: 195px;
}

main .greeting__heading,
main .greeting .col__left,
main .greeting .col__right {
  opacity: 0;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
  -webkit-transition: .3s;
  transition: .3s;
}

main .greeting .col__right {
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}

main .greeting__ttl {
  display: inline-block;
  width: 230px;
  height: 55px;
  background: url(../../common/img/greeting/ttl_01.png) no-repeat center left/contain;
  vertical-align: middle;
}

main .greeting__diagonalLine {
  width: 740px;
  height: 45px;
  display: inline-block;
  -webkit-transform: translateX(22px);
          transform: translateX(22px);
  overflow: hidden;
  vertical-align: middle;
}

main .greeting__diagonalLine::before {
  content: "";
  width: 840px;
  height: 100%;
  display: block;
  background-image: url(../../common/img/diagonalLine.png);
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
}

main .greeting__subTtl {
  height: 20px;
  width: 95px;
  margin: 0 25px 0 auto;
  background: url(../../common/img/greeting/subTtl_01.png) no-repeat;
  -webkit-transform: translateY(-35px);
          transform: translateY(-35px);
}

main .greeting .greetingBox__text {
  margin: 35px 0 20px 0;
  line-height: 1.8;
  font-size: 14px;
  text-indent: 1em;
}

main .philosophy {
  position: relative;
  margin-bottom: 80px;
}

main .philosophy__heading {
  opacity: 0;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
  -webkit-transition: .3s;
  transition: .3s;
}

main .philosophy__ttl {
  display: inline-block;
  width: 230px;
  height: 55px;
  background: url(../../common/img/greeting/ttl_02.png) no-repeat center left/contain;
  vertical-align: middle;
}

main .philosophy__diagonalLine {
  width: 745px;
  height: 45px;
  display: inline-block;
  -webkit-transform: translateX(22px);
          transform: translateX(22px);
  overflow: hidden;
  vertical-align: middle;
}

main .philosophy__diagonalLine::before {
  content: "";
  width: 845px;
  height: 100%;
  display: block;
  background-image: url(../../common/img/diagonalLine.png);
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
}

main .philosophy__subTtl {
  width: 115px;
  height: 20px;
  margin: 0 131px 0 auto;
  background: url(../../common/img/greeting/subTtl_02.png) no-repeat center left/contain;
  -webkit-transform: translateY(-35px);
          transform: translateY(-35px);
}

main .philosophy__imgBox {
  position: absolute;
  top: -70%;
  right: -95px;
  z-index: 1;
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

main .philosophy__imgText {
  width: 150px;
  margin: 0 0 0 auto;
  background-color: #ea5413;
  color: #fff;
  text-indent: 1em;
  font-size: 14px;
}

main .philosophy__bg {
  width: 350px;
  height: 235px;
  top: 47%;
  right: -60px;
  background-color: rgba(234, 85, 20, 0.1);
  position: absolute;
}

main .philosophy__text {
  margin-top: 42px;
  opacity: 0;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
  -webkit-transition: .3s;
  transition: .3s;
}

main .management {
  position: relative;
  margin-bottom: 80px;
}

main .management__heading {
  opacity: 0;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
  -webkit-transition: .3s;
  transition: .3s;
}

main .management__ttl {
  display: inline-block;
  width: 230px;
  height: 55px;
  background: url(../../common/img/greeting/ttl_03.png) no-repeat center left/contain;
  vertical-align: middle;
}

main .management__diagonalLine {
  width: 650px;
  height: 45px;
  display: inline-block;
  -webkit-transform: translateX(22px);
          transform: translateX(22px);
  overflow: hidden;
  vertical-align: middle;
}

main .management__diagonalLine::before {
  content: "";
  width: 750px;
  height: 100%;
  display: block;
  background-image: url(../../common/img/diagonalLine.png);
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
}

main .management__subTtl {
  width: 205px;
  height: 20px;
  margin: 0 357px 0 auto;
  background: url(../../common/img/greeting/subTtl_03.png) no-repeat center left/contain;
  -webkit-transform: translateY(-35px);
          transform: translateY(-35px);
}

main .management__imgBox {
  position: absolute;
  top: -80%;
  right: 80px;
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

main .management__imgText {
  width: 150px;
  margin: 0 0 0 auto;
  background-color: #ea5413;
  color: #fff;
  text-indent: 1em;
  font-size: 14px;
}

main .management__text {
  margin-top: 42px;
  opacity: 0;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
  -webkit-transition: .3s;
  transition: .3s;
}

main .vision {
  position: relative;
  margin-bottom: 80px;
}

main .vision__heading {
  opacity: 0;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
  -webkit-transition: .3s;
  transition: .3s;
}

main .vision__ttl {
  display: inline-block;
  width: 230px;
  height: 55px;
  background: url(../../common/img/greeting/ttl_04.png) no-repeat center left/contain;
  vertical-align: middle;
}

main .vision__diagonalLine {
  width: 745px;
  height: 45px;
  display: inline-block;
  -webkit-transform: translateX(22px);
          transform: translateX(22px);
  overflow: hidden;
  vertical-align: middle;
}

main .vision__diagonalLine::before {
  content: "";
  width: 845px;
  height: 100%;
  display: block;
  background-image: url(../../common/img/diagonalLine.png);
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
}

main .vision__subTtl {
  width: 175px;
  height: 20px;
  margin: 0 159px 0 auto;
  background: url(../../common/img/greeting/subTtl_04.png) no-repeat center left/contain;
  -webkit-transform: translateY(-35px);
          transform: translateY(-35px);
}

main .vision__imgBox {
  position: absolute;
  top: -30%;
  right: -66px;
  z-index: 1;
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

main .vision__imgText {
  width: 150px;
  margin: 0 0 0 auto;
  background-color: #ea5413;
  color: #fff;
  text-indent: 1em;
  font-size: 14px;
}

main .vision__bg {
  width: 275px;
  height: 170px;
  bottom: 125px;
  right: -140px;
  background-color: rgba(234, 85, 20, 0.1);
  position: absolute;
}

main .vision__text {
  margin-top: 42px;
  opacity: 0;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
  -webkit-transition: .3s;
  transition: .3s;
}

main .bg1,
main .bg2 {
  position: absolute;
  z-index: -1;
}

main .bg1 {
  background: url(../../common/img/greeting/bg_01.png) no-repeat;
  top: 0;
  left: 0;
  width: 670px;
  height: 135px;
}

main .bg2 {
  background: url(../../common/img/greeting/bg_02.png) no-repeat;
  bottom: 0;
  right: 0%;
  width: 852px;
  height: 105px;
}

main .fadeIn {
  opacity: 1 !important;
  -webkit-transform: translate(0) !important;
          transform: translate(0) !important;
}
/*# sourceMappingURL=style.css.map */