@charset "UTF-8";
@import "../../common/css/_common.scss";

main {
  position: relative;
  padding: 210px 140px 230px 140px;

  .corporate {
    position: relative;
    padding-bottom: 128px;
    
    &__ttl {
      width: 235px;
      height: 53px;
      display: inline-block;
      background: url(../../common/img/outline/ttl_01.png) no-repeat;
      vertical-align: middle;
    }
  
    &__diagonalLine {
      width: 750px;
      height: 45px;
      display: inline-block;
      transform: translateX(27px);
      overflow: hidden;
      vertical-align: middle;
  
      &::before {
        content: "";
        width: 850px;
        height: 100%;
        display: block;
        background-image: url(../../common/img/diagonalLine.png);
        transform: translateX(-100px);
      }
    }
    
    &__subTtl {
      position: absolute;
      height: 15px;
      width: 190px;
      top: 18px;
      left: 310px;
      background: url(../../common/img/outline/subTtl_01.png) no-repeat;
    }
  
    .logoBox {
      position: absolute;
      top: -80px;
      right: -50px;
      width: 513px;
      padding-top: 60px;
      padding-bottom: 32px;
      background: $orange;
      color: $white;
      text-align: center;

      &__img{
        display: block;
        margin: 0 auto 35px;
      }
  

      &__btn {
        width: 180px;
        position: relative;
        padding: 10px 35px;
        border: 1px solid $white;
        font-family: "游ゴシック体";
        font-size: 13px;
        overflow: hidden;
        transition: .5s;
      
        &::before {
          content: "";
          position: absolute;
          background: $white;
          width: 184px;
          height: 50px;
          top: 0;
          left: 0;
          transform: translateX(-100%);
          transition: .5s;
        }
      
        &:hover:before {
          transform: translateX(0);
          color: $orange;
          z-index: 2;
        }

        &:hover {
          color: $orange;
        }
      }

      &__text {
        position: relative;
        z-index: 3;
      }
    }
  }

  .modal {
    display: none;
    width: 890px;
    padding: 63px 125px 86px;
    background: #fffefd;
    box-shadow: 5px 5px 5px #beb4a6;
    text-align: center;
    z-index: 3;

    &__close {
      width: 30px;
      height: 30px;
      position: relative;
      margin: 0 0 0 auto;

      &::before,
      &::after {
        content: "";
        display: inline-block;
        width: 100%;
        height: 1px;
        background-color: $orange;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }

    &__ttl {
      height: 30px;
      margin-bottom: 90px;
      background: url(../../common/img/outline/modal_ttl.png) no-repeat center center/contain;
    }

    &__img{
      margin-bottom: 75px;
    }

    &__text{
      color: $orange;
      font-family: "游ゴシック";
      font-size: 14px;
      line-height: 25px;
      text-align: left;
    }

    &.active {
      display: block;
      position: absolute;
    }
  }

  .outline {
    margin-top: 40px;
    font-size: 13px;
    font-weight: bold;

    th {
      width: 100px;
    }

    & tr:nth-of-type(-n + 7) {
      td {
        padding-bottom: 5px;
      }
    }
  
    & tr:nth-of-type(n + 7) {
      td {
        padding-bottom: 35px;
      }
    }
  
    & tr:nth-of-type(n + 12) {
      td {
        padding-bottom: 20px;
      }
    }
  }


  .history {
    position: relative;
    padding-bottom: 130px;
    
    &__ttl {
      width: 115px;
      height: 50px;
      display: inline-block;
      background: url(../../common/img/outline/ttl_02.png) no-repeat;
      vertical-align: middle;
    }

    &__diagonalLine {
      width: 825px;
      height: 45px;
      display: inline-block;
      transform: translateX(60px);
      overflow: hidden;
      vertical-align: middle;

      &::before {
        content: "";
        width: 925px;
        height: 100%;
        display: block;
        background-image: url(../../common/img/diagonalLine.png);
        transform: translateX(-100px);
      }
    }
    
    &__subTtl {
      height: 19px;
      width: 80px;
      top: 13px;
      margin: 0 0 0 auto;
      background: url(../../common/img/outline/subTtl_02.png) no-repeat;
      transform: translate(-25px, -33px);
    }

    .container {
      display: grid;
      grid-template-columns: 585px 416px;
      margin-top: 35px;
      
      .col__left {
        font-size: 13px;
        font-weight: bold;
      }
    }
    
    &__text {
      margin-bottom: 60px;
    }

    .timeline {
      li {
        position: relative;
        overflow: hidden;
        padding-bottom: 12px;
        display: flex;
      }
  
      &__year {
        color: $orange;
        width: 25px;
        
        &::after {
          content: "";
          width: 5px;
          height: 55%;
          background: #000;
          position: absolute;
          left: 10px;
          top: 17px;
        }
      }

      &__mon {
        display: inline-block;
        width: 50px;
        margin-right: 20px;
        text-align: end;
      }
    }
    
    &:last-of-type .timeline__year::after {
      display: none;
    }
    
    &__img:not(:last-of-type) {
      margin-bottom: 25px;
    }
  }

  .chart {
    position: relative;
    padding-bottom: 100px;

    &__ttl {
      width: 170px;
      height: 50px;
      display: inline-block;
      background: url(../../common/img/outline/ttl_03.png) no-repeat;
      vertical-align: middle;
    }

    &__diagonalLine {
      width: 750px;
      height: 45px;
      display: inline-block;
      transform: translateX(60px);
      overflow: hidden;
      vertical-align: middle;

      &::before {
        content: "";
        width: 850px;
        height: 100%;
        display: block;
        background-image: url(../../common/img/diagonalLine.png);
        transform: translateX(-100px);
      }
    }

    &__subTtl {
      width: 200px;
      height: 15px;
      margin: 0 0 0 auto;
      background: url(../../common/img/outline/subTtl_03.png) no-repeat;
      transform: translate(-25px, -33px);
    }

    .container {
      display: flex;
      margin-top: 40px;
      gap: 60px;

    }

    &__graph {
      width: 510px;
      height: 505px;
      background-image: url(../../common/img/outline/graph.png);
      background-size: contain;
    }

    &::after {
      content: "";
      width: 100vw;
      height: 405px;
      position: absolute;
      top: 20%;
      right: -14%;
      background-color: rgba(234, 85, 20, 0.1);
      z-index: -1;
    }
  }

  .bg1,
  .bg2 {
    position: absolute;
    z-index: -1;
    background-size: contain;
  }

  .bg1 {
    background: url(../../common/img/outline/bg_01.png) no-repeat;
    top: 0;
    left: 0;
    width: 570px;
    height: 110px;
  }

  .bg2 {
    background: url(../../common/img/outline/bg_02.png) no-repeat;
    bottom: 0;
    right: 0%;
    width: 570px;
    height: 100px;
  }

  &::before {
    content: "";
    width: 540px;
    height: 347px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(234,85,20,.1);
  }
}