@charset "UTF-8";
.corporate .ttl::after, .history .ttl::after, .chart .ttl::after {
  content: "";
  height: 45px;
  display: block;
  background-image: repeating-linear-gradient(-45deg, #ea5413, #ea5413 0.6px, transparent 0, transparent 6.6px);
}

body {
  min-width: 1280px;
  overflow-x: hidden;
  background: #f8e9d2;
  font-family: 'Yu Gothic','YuGothic','Noto Sans Japanese','Helvetica Neue','ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN',Arial,'Meiryo',sans-serif;
  line-height: 1.5;
}

.hamburger {
  width: 30px;
  height: 30px;
  position: fixed;
  z-index: 2;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 30px;
  cursor: pointer;
}

.hamburger__line {
  background-color: #ea5413;
  height: 5px;
  width: 100%;
  position: absolute;
  -webkit-transition: 1s;
  transition: 1s;
}

.line2 {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.line3 {
  bottom: 0;
}

.line_1,
.line_2,
.line_3 {
  background-color: #fff;
}

.line_1 {
  width: 60%;
  -webkit-transform: translateY(5px) rotate(-45deg);
          transform: translateY(5px) rotate(-45deg);
}

.line_3 {
  width: 60%;
  -webkit-transform: translateY(-5px) rotate(45deg);
          transform: translateY(-5px) rotate(45deg);
}

.nav {
  width: 420px;
  height: 100vh;
  background: #808080;
  position: fixed;
  text-align: center;
  font-size: 14px;
  color: #fff;
  z-index: 1;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 1s;
  transition: 1s;
}

.nav .logo {
  width: 207px;
  margin: 45px 0 55px;
}

.nav .list__item a {
  display: block;
  width: 50px;
  height: 50px;
}

.nav .copyright {
  font-size: 11px;
}

.nav.in {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

button {
  width: 100%;
  position: relative;
  display: block;
  width: 78%;
  height: 45px;
  margin: 0 auto;
}

button::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 auto;
  top: 0%;
  background-image: repeating-linear-gradient(-45deg, #ea5413, #ea5413 0.6px, transparent 0, transparent 6.6px);
}

button p {
  display: block;
  height: 100%;
  background: url(../../common/img/backButton.png) no-repeat;
  background-position: 50%;
}

footer {
  padding-top: 65px;
  padding-bottom: 95px;
  text-align: center;
  background: #808080;
  color: #fff;
}

footer .icon {
  margin-bottom: 40px;
}

footer .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 90px 40px;
  color: #fff;
  text-align: start;
}

footer .nav__list .nav__item {
  position: relative;
}

footer .nav__list .nav__item span {
  display: block;
  font-family: 'Bookman Old Style';
  font-size: 14.25px;
}

footer .nav__list .nav__item::before {
  content: "";
  width: 1px;
  height: 35px;
  position: absolute;
  background: #fff;
  left: -15px;
}

footer .nav__list .nav__item::after {
  content: "";
  width: 0%;
  height: 3px;
  display: block;
  position: absolute;
  top: 20%;
  background: #ea5413;
  -webkit-transition: .5s;
  transition: .5s;
}

footer .nav__list .nav__item:hover:after {
  width: 100%;
}

footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 25px;
  margin-bottom: 28px;
}

footer .copyright {
  font-size: 11px;
}

footer .toTop {
  border-right: 100px solid transparent;
  border-bottom: 99px solid #fff;
  border-left: 100px solid transparent;
}

main {
  position: relative;
  padding: 210px 140px 230px 140px;
}

main .bg1,
main .bg2 {
  position: absolute;
  z-index: -1;
  background-size: contain;
}

main .bg1 {
  background: url(../../common/img/outline/bg_01.png) no-repeat;
  top: 0;
  left: 0;
  width: 570px;
  height: 110px;
}

main .bg2 {
  background: url(../../common/img/outline/bg_02.png) no-repeat;
  bottom: 0;
  right: 0%;
  width: 570px;
  height: 100px;
}

main::before {
  content: "";
  width: 540px;
  height: 347px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(234, 85, 20, 0.1);
}

.logoBox {
  position: absolute;
  top: -80px;
  right: -50px;
  width: 513px;
  padding-top: 60px;
  padding-bottom: 32px;
  background: #ea5413;
  color: #fff;
  text-align: center;
}

.logoBox .logoBox__img {
  display: block;
  margin: 0 auto 35px;
}

.logoBox button {
  position: relative;
  padding: 10px 40px;
  border: 1px solid #fff;
  font-family: "游ゴシック体";
  font-size: 13px;
  overflow: hidden;
  -webkit-transition: .5s;
  transition: .5s;
}

.logoBox button::before {
  content: "";
  position: absolute;
  background: #fff;
  width: 184px;
  height: 36.95px;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: .5s;
  transition: .5s;
}

.logoBox button:hover:before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  color: #ea5413;
  z-index: 2;
}

.logoBox button p {
  position: relative;
  z-index: 3;
}

.logoBox button:hover {
  color: #ea5413;
}

.corporate {
  position: relative;
  padding-bottom: 128px;
}

.corporate .ttl {
  height: 50px;
  background: url(../../common/img/outline/ttl_01.png) no-repeat;
  margin-bottom: 40px;
}

.corporate .ttl::after {
  width: 750px;
  -webkit-transform: translateX(250px);
          transform: translateX(250px);
}

.corporate .subTtl {
  position: absolute;
  height: 15px;
  width: 190px;
  top: 13px;
  left: 310px;
  background: url(../../common/img/outline/subTtl_01.png) no-repeat;
}

.modal {
  display: none;
  width: 890px;
  padding: 63px 125px 86px;
  background: #fffefd;
  -webkit-box-shadow: 5px 5px 5px #beb4a6;
          box-shadow: 5px 5px 5px #beb4a6;
}

.modal .modal__text {
  color: #ea5413;
  font-family: "游ゴシック";
  font-size: 14px;
  line-height: 25px;
}

.outline {
  font-size: 13px;
  font-weight: bold;
}

.outline th {
  width: 100px;
}

.outline tr:nth-of-type(-n + 7) td {
  padding-bottom: 5px;
}

.outline tr:nth-of-type(n + 7) td {
  padding-bottom: 35px;
}

.outline tr:nth-of-type(n + 12) td {
  padding-bottom: 20px;
}

.history {
  position: relative;
  padding-bottom: 130px;
}

.history .ttl {
  height: 50px;
  background: url(../../common/img/outline/ttl_02.png) no-repeat;
  margin-bottom: 35px;
}

.history .ttl::after {
  width: 830px;
  -webkit-transform: translateX(170px);
          transform: translateX(170px);
}

.history .subTtl {
  position: absolute;
  height: 19px;
  width: 80px;
  top: 13px;
  right: 25px;
  background: url(../../common/img/outline/subTtl_02.png) no-repeat;
}

.history .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 585px 416px;
      grid-template-columns: 585px 416px;
}

.history .container .box {
  font-size: 13px;
  font-weight: bold;
}

.history .container .box .history__text {
  margin-bottom: 60px;
}

.history .container .historyImg:not(:last-of-type) {
  margin-bottom: 25px;
}

.chart {
  position: relative;
  padding-bottom: 100px;
}

.chart .ttl {
  height: 50px;
  background: url(../../common/img/outline/ttl_03.png) no-repeat;
  margin-bottom: 40px;
}

.chart .ttl::after {
  width: 750px;
  -webkit-transform: translateX(250px);
          transform: translateX(250px);
}

.chart .subTtl {
  position: absolute;
  height: 15px;
  width: 200px;
  top: 13px;
  right: 25px;
  background: url(../../common/img/outline/subTtl_03.png) no-repeat;
}

.chart .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
}

.chart .container .graph {
  width: 510px;
  height: 505px;
  background-image: url(../../common/img/outline/graph.png);
  background-size: contain;
}

.timeline li {
  position: relative;
  overflow: hidden;
  padding-bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.timeline li .timeline__year {
  color: #ea5413;
  width: 50px;
}

.timeline li .timeline__year::after {
  content: "";
  width: 5px;
  height: 55%;
  background: #000;
  position: absolute;
  left: 10px;
  top: 17px;
}

.timeline li:last-of-type .timeline__year::after {
  display: none;
}

.timeline li .timeline__mon {
  display: inline-block;
  width: 50px;
  text-align: end;
}
/*# sourceMappingURL=style.css.map */