@charset "UTF-8";
@import "../../common/css/_common.scss";

main {
  position: relative;
  padding: 180px 140px 205px 140px;
  font-weight: bold;
  font-size: 13px;

  .bg1,
  .bg2 {
    position: absolute;
    z-index: -1;
    background-size: contain;
  }

  .bg1 {
    background: url(../../common/img/branding/bg_01.png) no-repeat;
    top: 0;
    left: 0;
    width: 700px;
    height: 135px;
  }

  .bg2 {
    background: url(../../common/img/branding/bg_02.png) no-repeat;
    bottom: 0;
    right: 0%;
    width: 580px;
    height: 105px;
  }
}

.service {
  position: relative;
  padding-bottom: 125px;

  .ttl {
    height: 55px;
    background: url(../../common/img/branding/ttl_01.png) no-repeat;
    margin-bottom: 40px;

    &::after {
      @extend %diagonalLine-style;
      width: 750px;
      transform: translateX(250px);
    }
  }

  .subTtl {
    position: absolute;
    height: 15px;
    width: 77px;
    top: 13px;
    right: 20px;
    background: url(../../common/img/branding/subTtl_01.png) no-repeat;
  }

  .container {
    margin-top: 57px;
  
    ul {
     display: grid;
     grid-template-columns: repeat(2, 485px);
     gap: 35px;
   
     .serviceBox {
       padding: 20px 30px;
       border: 1px solid $orange;
       position: relative;
       display: flex;
       gap: 25px;
   
       .serviceBox__logo {
         position: absolute;
         top: -20px;
         background: $mainColor;
         padding: 0 10px;
       }
     }
    }
  }
}


.domain {
  position: relative;
  padding-bottom: 120px;

  header {
    margin-bottom: 40px;
  }

  .ttl {
    height: 55px;
    background: url(../../common/img/branding/ttl_02.png) no-repeat;
    margin-bottom: 40px;

    &::after {
      @extend %diagonalLine-style;
      width: 680px;
      transform: translateX(320px);
    }
  }

  .subTtl {
    position: absolute;
    height: 15px;
    width: 77px;
    top: 13px;
    left: 560px;
    background: url(../../common/img/branding/subTtl_02.png) no-repeat;
  }

  img {
    position: absolute;
    right: -140px;
    top: -20px;
  }

  &__boxes {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 45px;

    &::after {
      content: "";
      width: 450px;
      height: 180px;
      position: absolute;
      top: 38%;
      left: 50px;
      font-size: 12px;
      border: 15px solid rgba(234,85,20,.1);
      z-index: -1;
    }
  }

  &__box {
    display: flex;
    height: 100px;
    border-radius: 50px;
    border: 1px solid #000;
    align-items: center;
    justify-content: center;
    background-color: $mainColor;
  }

  &::before {
    content: "";
    width: 426px;
    height: 363px;
    background-color: rgba(234,85,20,.1);
    position: absolute;
    top: 0;
    right: -140px;
    z-index: -1;
  }
}

.shops {
  position: relative;

  .ttl {
    width: 235px;
    height: 55px;
    background: url(../../common/img/branding/ttl_03.png) no-repeat center/contain;
    margin-bottom: 40px;

    &::after {
      @extend %diagonalLine-style;
      width: 750px;
      transform: translateX(250px);
    }
  }

  .subTtl {
    position: absolute;
    height: 15px;
    width: 77px;
    top: 13px;
    right: 20px;
    background: url(../../common/img/branding/subTtl_03.png) no-repeat;
  }

  .container {
    display: flex;
    justify-content: space-between;
    margin-top: 110px;
    margin-bottom: 200px;

    .shopsBox {
      position: relative;
      padding: 35px 15px 25px;
      position: relative;
      border: 2px solid #ea5514;

      &__ttl {
        position: absolute;
        padding: 0 15px;
        top: -14%;
        left: 50%;
        transform: translateX(-50%);
        background-color: $mainColor;
      }

      &__name {
        font-size: 18px;
        font-weight: bold;
      }

      &__address {
        text-decoration: underline;
      }

      &__btn {
        display: inline-block;
        width: 130px;
        margin: 15px 13px 15px 0;
        position: relative;
        border: 1px solid #000;
        text-align: center;

        a {
          width: 100%;
          padding: 5px 0;
        }
      }
    }

    ul {
      font-size: 12px;

      li {
        padding: 10px 0;
        border-bottom: 1px dotted #000;

        a {
          padding: 10px 0 10px 20px;
        }
      }
    }
  }


  .bg {
    position: absolute;
    width: 440px;
    height: 630px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: url(../../common/img/branding/shopsBg_06.png) no-repeat center center/contain;
    z-index: -1;
  }
}